* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Varela Round", sans-serif;
    transition: all 0.5s ease;
}

#vs {
    z-index: 3;
    color: black;
    font-weight:100;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    border-radius: 50%;
    font-size: 40px;
    background-color: #fcf6e3;
    padding: 0.1em 0.2em;
    border: 3px solid black;
}

#new-game {
    position: fixed;
    z-index: 2;
    bottom:5%;
    display: inline-block;
    border: 2px solid;
    left: 50%;
    transform: translate(-50%, 0%);
    color: black;
    background-color: #fcf6e3;
    font-size:x-large;
    padding: 7px 13px;

}

#new-game:hover {
    cursor: pointer;
    background-color: #82cdff;
    color: black;
    border-radius: 10px;
}

#score {
    position: fixed;
    z-index: 2;
    bottom: 15%;
    display: inline-block;
    border: 2px solid black;
    padding: 5px 1%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fcf6e3;
    border-radius: 10px;
    color: black;
}

.how-to-play {
    z-index: 2;
    box-sizing: border-box;
    left: 50%;
    transform: translate(-50%, 0%);
    position: fixed;
    display: block;
    top: 5%;
    height: 50px;
    width: 150px;
    background-color: #fcf6e3;
    border: 3px solid black;
    padding: 10px 15px;
    font-size: 20px;
}

#instructions {
    display: none;
    background-color: white;
    box-sizing: border-box;
    position: fixed;
    top: 12%;
    width: 300px;
    font-size: 20px;
    height: auto;
    border-radius: 10px;
}

#dropdown:hover {
    cursor: context-menu;
    background-color: #82cdff;
    border-radius: 10px;
}

.item-image {
    box-sizing: border-box;
    z-index: 1;
    display: inline;
    position: fixed;
    height: 100%;
    text-align: center;
    margin-top: 100px;
    object-fit: cover;
    width: 50%;
    overflow: hidden;
    top: -12%;
    filter: brightness(50%);
}

#right-item-image {
    right: 0;
    border-left: 2px solid black;
}

#left-item-image {
    left: 0;
    border-right: 2px solid black;
}

.item-description:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 13px;
    opacity: 100%;
}

.item-description {
    display: none;
    box-sizing: border-box;
    position: fixed;
    z-index: 4;
    font-size: 35px;
    font-weight: 600;
    height: auto;
    top: 30%;
    padding: 10px 10px;
    color:black;
    background-color: transparent;
    border-radius: 4px;
    border: 3px solid black;
    transition: all 0.2s ease;
    opacity: 70%;
    background-color: #faff69;
}


#left-item-description {
    margin-left: 10%;
    margin-right: 60%;
}

#right-item-description {
    margin-right: 10%;
    margin-left: 60%;
}

